# --- Exclusiones de .NET (Backend) ---
**/bin/
**/obj/
*.user
*.suo
*.userosscache
*.sln.docstates
# --- Exclusiones de Angular / Node (Frontend) ---
**/node_modules/
**/.angular/
**/dist/
.npm/
npm-debug.log*
# --- Archivos del sistema y del editor ---
.vscode/
.idea/
Thumbs.db
ehthumbs.db
Desktop.ini